@import 'styles/variables';

.device {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 2rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
}

.text {
  transform: skewX(12deg);
}

.heading {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
}

.actions {
  text-align: right;
}
